<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.goalbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoalBook">
        <activity android:name=".Profile.ProfileActivity"></activity>
        <activity
            android:name=".AddGoal.AddGoalActivity"
            android:parentActivityName=".HomeScreen.MainActivity"
            android:theme="@style/AddGoal" />
        <activity android:name=".ViewGoals.ViewGoalsActivity" />
        <activity android:name=".LoginAndRegistration.CongratualtionActivity" />
        <activity android:name=".LoginAndRegistration.OTPActivity" />
        <activity android:name=".LoginAndRegistration.LoginActivity" />
        <activity android:name=".LoginAndRegistration.RegistrationActivity" />
        <activity android:name=".SplashAndIntroduction.IntroductionActivity" />
        <activity android:name=".SplashAndIntroduction.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeScreen.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>